<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.experiment.voicerecorder">

<!--    <uses-permission android:name="android.permission.WAKE_LOCK" />-->
<!--    <uses-permission android:name="android.permission.INTERNET" />-->

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>


    <application
        android:name=".VoiceRecorderApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_record"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_record"
        android:supportsRtl="true"
        android:theme="@style/Theme.VoiceRecorder">
        <service android:name=".service.recorder.RecordingService"/>
        <service android:name=".service.player.VoicePlaybackService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.media.browser.MediaBrowserService"/>
            </intent-filter>
        </service>
        <service android:name=".service.player.PlayerService"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.VoiceRecorder.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PlayerActivity"
            android:exported="false"
            android:label="VoicePlayer">

        </activity>
    </application>

</manifest>